HelloWorldNodeRed.json
[{"id":"902cd66f.37a81","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c34c362.b63e348","type":"template","z":"902cd66f.37a81","d":true,"name":"test","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n\n<h1 align = center>\n    BBC News Room\n</h1>\n\n<h2>\n    JOURNALIST\n    </h2>\n\n<div ng-app= \"\">\n    \n    <label for=\"editor-select\">Editor assigned to:</label>\n\n        <select name=\"editor\" id=\"editor-select\">\n             <option value=\"\">Choose the editor</option>\n             <option value=\"SelectedName\">Rohit</option>\n             <option value=\"SelectedName\">Awanish</option>\n             <option value=\"SelectedName\">Divya</option>\n            <option value=\"SelectedName\">Rameshwar</option>\n    \n        </select>\n\n    <!--<h2 color = red>\n        Summary\n    </h2>-->\n</div>\n</html>\n","output":"str","x":330,"y":220,"wires":[["43afd398.c4cffc"]]},{"id":"4da77e9d.346fa","type":"http in","z":"902cd66f.37a81","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["c34c362.b63e348","119857b.6a73f28"]]},{"id":"43afd398.c4cffc","type":"http response","z":"902cd66f.37a81","name":"","statusCode":"","headers":{},"x":530,"y":280,"wires":[]},{"id":"119857b.6a73f28","type":"ui_template","z":"902cd66f.37a81","group":"7ec55a0e.fe4bf4","name":"","order":0,"width":"11","height":"6","format":"<h1>\n    JOURNALIST\n</h1>\n\n<div ng-app= \"\">\n    \n    <label for=\"editor-select\">Editor assigned to:</label>\n\n        <select name=\"editor\" id=\"editor-select\">\n             <option value=\"\">Choose the editor</option>\n             <option value=\"SelectedName\">Rohit</option>\n             <option value=\"SelectedName\">Awanish</option>\n             <option value=\"SelectedName\">Divya</option>\n            <option value=\"SelectedName\">Rameshwar</option>\n    \n        </select>\n\n    <h2 color = red>\n        Summary\n    </h2>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":340,"y":340,"wires":[["43afd398.c4cffc"]]},{"id":"7ec55a0e.fe4bf4","type":"ui_group","z":"","name":"BBC News Room 1","tab":"b039e28a.c03818","order":1,"disp":true,"width":"12","collapse":false},{"id":"b039e28a.c03818","type":"ui_tab","z":"","name":"AI Studio - News Room","icon":"New1","disabled":false,"hidden":false}]